body, h1, p{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'olivier','Sansita Swashed', cursive, sans-serif;
    user-select: none;
}

body {
    background: linear-gradient(to bottom, var(--fondo1), var(--yellow2));
}

:root {
    --gray1:#707070;
    --gray2: #AAA3A3;
    --brown1: #4F3939;
    --brown2: #613030;
    --fondo1: #ffffff;
    --fondo2: #F8FF3C;
    --yellow1: #F9EC94;
    --yellow2: #FFF9CD;
    --footer: var(--yellow1);
}

/* ---- header ----- */

header {
    text-align: center;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.titulo__img {
    height: 77px;
    width: 80px;
    margin: 0px 16px;
}

.titulo {
    color: var(--brown1);
    font-size: 60px;
    margin-bottom: 8px;
}

.subTitulo {
    display: inline-block;
    color: var(--gray1);
    font-family: Viner Hand ITC, 'Sansita Swashed' ; 
    font-size: 20px;
    margin-right: 10px;
}

.redesSociales {
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid var(--gray2);
    padding: 5px 5px 1px 10px;    
    border-radius: 10px; 
}

.red-social {
    width: 20px;
    height: 20px;
}

.red-social:first-child {
    margin-right: 10px;
}

/* ---- Menu ----*/

.menu {
    background-color: var(--yellow1);
    border-radius: 0 100px 100px 0;
    max-width: 791px;
    width: 95%;
    height: 50px;
    border: 1px solid var(--gray1);
    display: flex;
    align-items: center;
}

.menu__frase, .menu__opcion {
    display: inline-block;
    margin: 10px;
}

.menu__icono {
    width: 25px; 
    height: 15px;
    margin-left: 15px;
    transform: rotate(90deg);
}

.menu__frase {
    font-size: 20px;
    color: var(--brown2);
    margin-right: 30px;
}

.menu__opcion {
    font-size: 25px;
    color: var(--brown1);
}

/* ---- menu celular ---- */

.menu-celular {
    padding-top: 20px;
    background-color: var(--yellow2);
    margin-left: 20px;
    height: 100px;
    width: 210px;
    position: absolute;
    border-bottom: 1px solid var(--brown2);
    border-right: 1px solid var(--brown2);
    border-left: 1px solid var(--brown2);
    border-radius: 0px 0px 20px 20px;
    /*funcionalidad*/
    display: none;
    z-index: 1;
}

.menu__opcion-celular {
    color: var(--brown2);
    margin-left: 40px;
    font-size: 20px;
}


.menu__opcion:hover, .menu__opcion-celular:hover {
    cursor: pointer;
    color: var(--gray1);
}

/* ---- darkMode ---- */

.darkmode {
    display: inline-block;
    margin: auto;
    margin-right: 10px;
}

.darkmode__checkbox {
    display: none;
}

.darkmode__switch {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 45px;
    height: 25px;
    border-radius: 20px;
    border: 10px solid var(--gray1);
    background-color: var(--fondo1);
}


.darkmode__checkbox:checked ~ .darkmode__switch:before{
    transform: translateX(12px);
}

.darkmode__switch:before {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    background: var(--gray2);
    border: 2px solid var(--fondo1);
    border-radius: 100%;
    transform: translateX(-5px);
    transition: .3s;
}


/* ---- main ---- */

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    margin: 20px 0px;
    justify-content: center;
}

.card {
    border: 3px solid var(--brown1);
    width: 300px;
    height: 300px;
    margin: 10px 10px;
    border-radius: 20px 0 20px 0;
    position: relative;
}

.card__img {
    display: inline;
    width: 300px;
    height: 300px;
    border-radius: 20px 0 20px 0;
    object-fit: cover;
}

.card_id { 
    background-color: var(--fondo1);
    border: 3px solid var(--brown1);
    color: var(--brown1);
    border-radius: 10px 10px 0px 0px;
    width: 35px;
    height: 20px;
    position: absolute;
    top: 277px;
    left: 7px;
    text-align: center;
}

.card_id p {
    margin-top: 4px;
    font-family: Verdana;
    font-size: 10px;
    font-weight: bold;
}

.card:hover .card_id{
    background-color: var(--yellow1);
}

/* ---- footer ---- */

footer {
    border: 1px solid var(--gray1);
    background: var(--footer);
    display: flex;
    height: 200px;
    justify-content: space-between;
    align-items: center;
}

.YeniaArt-logo {
    width: 131px;
    height: 130px;
    margin-left: 20px;
    border: 1px solid var(--gray1);
}

.contacto {
    margin-right: 40px;
    color: var(--brown2);
    text-align: center;
    font-size: 20px;
}


/*tablets*/
@media (max-width: 1000px) {
    .menu__opcion {
        display: none;
    }

    .titulo__img {
        height: 35px;
        width: 40px;
        margin: 0px 16px;
    }
}

/*phone vertical*/
@media (max-width: 576px) {
    
}

.modoDark {
    --gray1: #C9C9C9;
    --gray2: #AAA3A3;
    --brown1: #EFEDED;
    --brown2: #C9C9C9;
    --fondo1: #1E3A55;
    --fondo2: #89253E;
    --yellow1: #89253E;
    --yellow2: #530F20;
    --footer: var(--fondo1);
}