body, h1, p{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

:root {
    --gray1:#707070;
    --gray2: #AAA3A3;
    --brown1: #4F3939;
}

/* ---- header ----- */

header {
    text-align: center;
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}

.flor {
    height: 77px;
    width: 80px;
    margin: 0px 16px;
}

.titulo {
    color: var(--brown1);
    font-family: olivier;
    font-size: 60px;
}

.subTitulo {
    display: inline-block;
    color: var(--gray1);
    font-family: Viner Hand ITC; 
    font-size: 20px;
    margin-right: 10px;
}

.redesSociales {
    display: inline-block;
    box-sizing: border-box;
    border: 2px solid var(--gray2);
    padding: 5px 10px;    
    border-radius: 10px; 
}

.red-social {
    width: 20px;
    height: 20px;
}

.red-social:first-child {
    margin-right: 10px;
}

/* ---- Menu ----*/

.menu__icono {
    width: 25px; 
    height: 15px;
}